* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-page {
    display: grid;
    grid-template-columns: 13% 1fr 13%;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: Nunito, sans-serif;
}

.navbar {
    align-self: center;
    grid-column: 2/3;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    padding-bottom: 10px;

}

.left-navbar {
    display: flex;
    gap: 12%;
    align-self: center;
}

.right-navbar {
    display: flex;
    gap: 20px;
    justify-self: end;
    align-self: center;
}

@keyframes size {
    from {
        font-size: 21px;
    }
    to {
        font-size: 25px
    }
}

.navbar a div:nth-child(1) {
    color: #2B2B43;
    animation-name: size;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.navbar a div:nth-child(2) {
    color: #697bff;
    animation-name: size;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

.navbar a .logo {
    font-size: 21px;
    line-height: 20px;
    font-weight: bold;
    width: 100px;
}

.search-bar {
    max-width: 224px;
    display: flex;
}

.search {
    border-radius: 11px 0 0 11px;
    color: rgba(131, 133, 156, 1);
    background: #EDEEF2;
    height: 40px;
    width: 80%;
    border: 1px solid #EDEEF2;
    padding-left: 10px;
    justify-content: space-between;
}

.search-icon {
    color: rgba(131, 133, 156, 1);
}

.submit-search {
    width: 20%;;
    height: 40px;
    border: 1px solid #EDEEF2;
    border-radius: 0 11px 11px 0;
    background: #EDEEF2;
    left: 160px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon:hover {
    color: #545563;
}

a {
    color: #545563;
    text-decoration: none;
}

a:hover {
    color: #545563;
}

.navbar-links {
    display: flex;
    gap: 30px;
    align-self: center;
    font-weight: bold;
}

hr {
    border-top: #545563;
    border-left: #545563;
    grid-column: 1/-1;
}

.shopping-icon {
    display: flex;
    width: 52px;
    height: 52px;
    border-radius: 15px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.shopping-icon::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
    left: 0;
    background: #697bff;
    opacity: 0.1;
    transition: 0.5s;
}

.material-icons-outlined.shopping-bag {
    color: #4e60ff;
}

.number {
    width: 23px;
    height: 23px;
    border-radius: 10px;
    border: thin solid #697bff;
    font-size: 12px;
    background: #697bff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: 35px;
    top: -5px;
}

.shop {
    display: flex;
    position: relative;
}

.avatar {
    border-radius: 14px;
}

.outline-avatar {
    width: 52px;
    height: 52px;
    border-radius: 14px;
    border: 2px solid #D3D3D3;
}

header {
    grid-column: 2/3;
    width: 100%;
    padding-top: 25px;
    display: grid;
    gap: 35px;
}

.promo-box {
    display: grid;
    grid-auto-flow: column;
    border-radius: 15px;
    justify-content: start;
    gap: 2em;
    padding-right: 20px;
}

.promo-box-deserts {
    background: #F3F4FF;
}

.promo-box-burger {
    background: #FFF3ED;
}

.promo-info h3 {
    color: #2B2B43;
}

.promo-info-deserts h1 {
    color: #4e60ff;
}

.promo-info div {
    color: #83859C;
}

.promo-info h1 {
    margin-bottom: 30px;
    font-size: 35px;
}

.promo-info-burger h1 {
    color: #FD6D22;
}

.food-promo {
    display: grid;
    grid-auto-flow: column;
    justify-content: stretch;
    gap: 2em;
    width: 100%;
}

.promo-info {
    display: grid;
    margin-top: 20px;
}

.selected-food {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2em;
}

.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}

.check {
    background: #F3F4FF;

}

input[type=checkbox]:checked + label {
    background: #F3F4FF;
    border: 2px solid rgba(78, 96, 255, 1);
    color: #4169E1;
}

.select-item {
    border: 1px solid #c7c8d2;
    background: #fff;
    border-radius: 15px;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 80px;
    font-family: inherit;
    cursor: pointer;
    font-size: 14px;
    padding-top: 6px;
}

.select-item:hover {
    background: #F8F9FF;
    border: 1px solid #697bff;
}

.main {
    grid-column: 2/3;
    margin-top: 35px;
    display: grid;
    gap: 1em;
}

.main h3 {
    color: #2B2B43;
    font-size: 18px;
}

.restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.restaurant-details {
    border-radius: 0 0 14px 14px;
    border: 1px solid rgba(237, 238, 242, 1);
    color: #83859C;
    font-size: 14px;
    padding: 15px;
    width: 100%;
}

.delivery-details {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 1em;
    padding: 10px 0;
}

.restaurant-delivery {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

.material-icons.dot {
    font-size: 5px;
    color: #83859C;
}

.shopping-bag-gray {
    color: rgba(199, 200, 210, 1);
}

.clock-icon {
    color: rgba(199, 200, 210, 1);
    font-size: 20px;
}

.emoji-small {
    width: 15px;
    height: 15px;
}

.select-item-small {
    padding: 5px 10px;
    gap: 10px;
    border: 1px solid #c7c8d2;
    background: #EDEEF2;
    border-radius: 15px;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    font-family: inherit;
    font-size: 14px;
    color: #545563;
}

.shopping-bag-number {
    position: relative;
}

.shopping-number {
    width: 17px;
    height: 17px;
    border-radius: 7px;
    border: thin solid #697bff;
    font-size: 10px;
    background: #697bff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    top: -8px;
    left: 14px;
}

.restaurant-presentation {
    display: grid;
    position: relative;
}

.restaurant-small-emoji {
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    justify-content: start;
}

figure {
    border-radius: 14px 14px 0 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover {
    opacity: 1;
}

figure img {
    transform: scale(1);
    transition: .3s ease-in-out;
    width: 100%;
    height: 100%;
}

figure:hover img {
    transform: scale(1.3);
}

.content {
    display: grid;
}

.restaurant-image {
    position: relative;
}

.featured {
    display: grid;
    justify-content: center;
    color: #fff;
    background: #4e60ff;
    border-radius: 0 14px 0 14px;
    padding: 8px;
    font-size: 12px;
    width: 27%;
    position: absolute;
    z-index: 2;
    justify-self: end;
}

.menu-icon {
    color: rgba(131, 133, 156, 1);
}

.menu {
    background: #EDEEF2;
    border-radius: 15px;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 50px;
}

.menu-menu {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    gap: 1em;
}

.phone-menu {
    display: none;
}

@media screen and (max-width: 500px) {
    .search-bar {
        display: none;
    }

    .navbar-links {
        display: none;
    }

    .phone-menu {
        display: grid;
        grid-auto-flow: column;
        gap: 1em;
        align-items: center;
    }

    .right-navbar hr {
        height: 60%;
    }

    .food-promo {
        grid-auto-flow: row;
    }

    .selected-food {
        grid-template-columns: repeat(3, 1fr);
    }

    .restaurants {
        grid-template-columns: 1fr;
    }

    .home-page {
        grid-template-columns:15px 1fr 15px;
    }

    .promo-box {
        justify-content: center;
        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 30% 70%;
        grid-template-columns: 1fr;
        padding: 10px 10px 0 10px;
    }

    .promo-info {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        width: 100%;
        grid-row: 1/2;
        gap: 0;
    }

    .promo-info h1 {
        margin-bottom: 0;
    }

    .food {
        grid-row: 2/-1;
        justify-self: center;
    }
}
